{% extends "layout_dwp.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">Caravans</h1>
    </div>
  </div>

  <div class="grid-row">
    <div class="data-table">
    <table>
     <thead>
       <tr>
         <th scope="col">Nino</th>
         <th scope="col">Ben</th>
         <th scope="col">Surname</th>
         <th scope="col">Forename</th>
         <th scope="col">Audit</th>
         <th scope="col">Amt</th>
         <th scope="col">DOM</th>
         <th scope="col">Address Line 1</th>
         <th scope="col">Address Line 2</th>
         <th scope="col">Address Line 3</th>
         <th scope="col">DPS</th>
       </tr>
     </thead>
     <tbody>
       <tr class="select">
         <td>JJ012938A</td>
         <td></td>
         <td>Bloggs</td>
         <td>Joe</td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
       </tr>
       <tr class="select">
         <td>JJ012938A</td>
         <td></td>
         <td>Bloggs</td>
         <td>Jane</td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
       </tr>
       <tr class="select">
         <td>JJ012938A</td>
         <td></td>
         <td>Bloggs</td>
         <td>Joe</td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
       </tr>
     </tbody>
    </table>
    </div>
  </div>
{% endblock %}
