{% extends "layout_dwp.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}
  <div class="grid-row">
    <div class="column-one-quarter">
      <div class="todo">
        <ul>
          <li><a href="">WFP Spotsrch</a></li>
          <li><a href="">Residue Previous</a></li>
          <li><a href="">EEA Previous</a></li>
          <li><a href="">WFP Output Progress</a></li>
          <li><a href="">EEA Matching</a></li>
          <li><a href="">WFP NSR</a></li>
        </ul>
      </div>
    </div>
    <div class="column-one-quarter">
      <div class="todo">
        <ul>
          <li><a href="">EEA Residue</a></li>
          <li><a href="">WFP Dsel</a></li>
          <li><a href="">WFP Partner Dsel</a></li>
          <li><a href="">WFP Cascade</a></li>
          <li><a href="">WFP LT51 Nondom</a></li>
          <li><a href="">WFP LT51 Under</a></li>
       </ul>
      </div>
    </div>
    <div class="column-one-quarter">
      <div class="todo">
        <ul>
          <li><a href="">Non-domestic</a></li>
          <li><a href="/forms/wfp-caravans">WFP Caravans</a></li>
          <li><a href="">WFP Scots</a></li>
          <li><a href="">WFP Flats</a></li>
          <li><a href="">WFP DPS AL1</a></li>
          <li><a href="">WFP LT51 Over</a></li>
       </ul>
      </div>
    </div>
    <div class="column-one-quarter">
      <div class="todo">
        <ul>
          <li><a href="">WFP Married</a></li>
          <li><a href="">WFP Spouse</a></li>
          <li><a href="">WFP HBMS</a></li>
          <li><a href="">WFP Residue</a></li>
          <li><a href="">WFP 3Plus DPS</a></li>
          <li><a href="">WFP Archive</a></li>
       </ul>
      </div>
    </div>



  </div>

{% endblock %}
