{% extends "layout_dwp.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="admin-submenu-container">


<div class="admin-submenu">
  <ul>
    <li><a href="">Late Caravans</a></li>
    <li><a href="">Late Cascade Internal</a></li>
    <li><a href="">Late Cascade Orig Late</a></li>
    <li><a href="">Late EEA Matching</a></li>
    <li><a href="">Late EEA Residue</a></li>
    <li><a href="">Late Flats</a></li>
    <li><a href="">Late Married Internal</a></li>
    <li><a href="">Late Married Orig Late</a></li>
    <li><a href="">Late Scots</a></li>
    <li><a href="">Late Spouse Orig Late</a></li>
  </ul>
</div>

<h1 class="heading-xlarge"></h1>

<div class="admin-panes">
    <div class="admin-pane">
      Late Caravans
    </div>

    <div class="admin-pane">
      Section 2
    </div>

    <div class="admin-pane">
      Section 3
    </div>

    <div class="admin-pane">
      Section 4
    </div>

    <div class="admin-pane">
      Section 5
    </div>
  </div>
</div>


  <div class="grid-row">





  </div>

{% endblock %}
