{% extends "login_dwp.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}
  <div class="grid-row">
    <div class="column-one-quarter">
      <div class="todo">
        <ul>
          <li><a href="">Late Caravans</a></li>
          <li><a href="">Late Cascade Internal</a></li>
          <li><a href="">Late Cascade Orig Late</a></li>
          <li><a href="">Late EEA Matching</a></li>
          <li><a href="">Late EEA Residue</a></li>
        </ul>
      </div>
    </div>
    <div class="column-one-quarter">
      <div class="todo">
        <ul>
          <li><a href="">Late Flats</a></li>
          <li><a href="">Late Married Internal</a></li>
          <li><a href="">Late Married Orig Late</a></li>
          <li><a href="">Late Scots</a></li>
          <li><a href="">Late Spouse Orig Late</a></li>
       </ul>
      </div>
    </div>




  </div>
{% endblock %}
